<div class="navbar-lewagon">
  <p>Simple Airbnb</p>
  <p>Add flat</p>
</div>

<div class="container">
  <h1>All our Flats (<%= @flats.length %>)</h1>
  <div class="flats">
    <% @flats.each do |flat| %>
      <div class="flat">

        <div class="flat-name">
          <h3><%= flat.name %></h3>
        </div>

        <div class="flat-address">
          <p><%= flat.address %></p>
        </div>

        <p><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %>   <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %></p>

        <div class="flat-footer">
          <p><%= link_to "More info", flat_path(flat) %></p>
        </div>

      </div>
    <% end %>
  </div>
</div>
